@font-face {
  font-family: "Nunito Sans";
  src: url(../fonts/Nunito_Sans/NunitoSans-SemiBold.ttf);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto/Roboto-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto/Roboto-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}
/* generic */
body {
  font-family: "Roboto";
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 68px;
  letter-spacing: 0.2px;
  color: #16133D;
  margin: 0;
}

h2 {
  margin: 0;
  font-family: "Nunito Sans";
  font-weight: 600;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: 0.2px;
  color: #16133D;
}

h3 {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #7690A8;
}

h4 {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  line-height: 21px;
  letter-spacing: 0.2px;
  color: #16133D;
}

.header {
  margin: 50px auto;
}
.header_container {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px;
  border-bottom: 1px solid #EFEEF3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_menu-item {
  margin: 0 30px;
  text-decoration: none;
  color: #16133D;
  font-weight: 500;
}
.header_menu-item:hover {
  cursor: pointer;
  text-decoration: underline;
}
.header_button {
  padding: 15px 40px;
  cursor: pointer;
  background-color: transparent;
  border-radius: 8px;
  font-family: "Roboto";
  font-weight: 500;
  color: #16133D;
  border: 2px solid #16133D;
}
.header_button:hover {
  color: white;
  background-color: #16133D;
}

.section_main {
  margin: 0 auto;
}
.section_main-container {
  display: flex;
  justify-content: space-between;
  flex-basis: 50%;
}
.section_main-left {
  padding-right: 100px;
  box-sizing: border-box;
}
.section_main-button {
  padding: 15px 40px;
  cursor: pointer;
  background-color: transparent;
  border-radius: 8px;
  font-family: "Roboto";
  font-weight: 500;
  color: #007FFC;
  border: 2px solid #007FFC;
  margin: 30px 20px 0 0;
}
.section_main-button:hover {
  color: white;
  background-color: #007FFC;
}

.slider {
  position: relative;
  width: 576px;
  height: 416px;
  border-radius: 8px;
}
.slider_arrows {
  position: absolute;
  width: 600px;
  top: 45%;
  display: flex;
  justify-content: space-between;
}
.slider_arrows-item {
  width: 55px;
  height: 55px;
  background-color: #16133D;
  padding: 17px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: white;
}

.section-services {
  margin-top: 120px;
}

.services-blocks {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.services-blocks_item {
  border: 1px solid #E5EAF4;
  border-radius: 8px;
  padding: 45px;
  box-sizing: border-box;
  flex-basis: calc(33% - 20px);
}
.services-blocks_item-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  border: 1px solid #E5EAF4;
  border-radius: 16px;
}
.services-blocks_item-text {
  font-size: 16px;
  line-height: 28px;
}
.services-blocks_item-link {
  color: #16133D;
  text-decoration: none;
}
.services-blocks_item-link:hover {
  text-decoration: underline;
}

.section-tips {
  margin-top: 200px;
}
.section-tips__text {
  color: #7690A8;
}
.section-tips__blocks {
  margin-top: 85px;
  display: flex;
  justify-content: space-between;
}
.section-tips__blocks-item {
  flex-basis: calc(50% - 25px);
  height: 480px;
  display: flex;
  align-items: flex-end;
  border-radius: 8px;
  padding: 64px 50px;
  box-sizing: border-box;
}
.section-tips__blocks-item-text {
  margin: 0;
  font-family: "Roboto";
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}

.n1 {
  background-image: url("../img/tips-backgrnd1.jpg");
  background-size: cover;
}

.n2 {
  background-image: url("../img/tips-backgrnd2.jpg");
  background-size: cover;
}

.section-prices {
  margin-top: 200px;
}
.section-prices .section-prices__blocks {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}
.section-prices .section-prices__blocks-item {
  flex-basis: calc(33% - 15px);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 3px solid #007FFC;
  box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.03);
  border-radius: 0 0 8px 8px;
  padding: 50px 37px;
  box-sizing: border-box;
}
.section-prices .section-prices__blocks-item-price {
  font-weight: 700;
  font-size: 40px;
  color: #007FFC;
}
.section-prices .section-prices__blocks-item-text {
  font-size: 16px;
  color: #7690A8;
  text-align: center;
  line-height: 28px;
}
.section-prices .section-prices__blocks-item-button {
  padding: 15px 40px;
  cursor: pointer;
  background-color: transparent;
  border-radius: 8px;
  font-family: "Roboto";
  font-weight: 500;
  border-radius: 50px;
  margin-top: 50px;
}
.section-prices .section-prices__blocks-item-button:hover {
  color: white;
  background-color: #16133D;
}
.section-prices .section-prices__blocks-item.green {
  border-top: 3px solid #52C29D;
}
.section-prices .section-prices__blocks-item.green .section-prices__blocks-item-price {
  color: #52C29D;
}
.section-prices .section-prices__blocks-item.red {
  border-top: 3px solid #F04D5D;
}
.section-prices .section-prices__blocks-item.red .section-prices__blocks-item-price {
  color: #F04D5D;
}

.section-banner {
  margin: 200px 0;
}
.section-banner__wrap {
  background-image: url("../img/bunner-bckgrnd.jpg");
  background-size: cover;
  border-radius: 50px;
  padding: 90px 237px;
  box-sizing: border-box;
  text-align: center;
}
.section-banner__wrap-title {
  font-size: 40px;
  letter-spacing: 0.2px;
  color: white;
}
.section-banner__wrap-text {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.6);
}
.section-banner__wrap-button {
  margin: 48px 20px 0 0;
  padding: 15px 40px;
  cursor: pointer;
  background-color: transparent;
  border-radius: 8px;
  font-family: "Roboto";
  font-weight: 500;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
  border-radius: 50px;
}
.section-banner__wrap-button:hover {
  color: #183B56;
  background-color: #FFFFFF;
}

.footer {
  height: 573px;
  background-color: #16133D;
  padding: 90px 0 70px 0;
}
.footer__wrap {
  display: flex;
}
.footer__wrap-left {
  width: 285px;
}
.footer__wrap-left-logo {
  margin-bottom: 30px;
}
.footer__wrap-left-text {
  font-size: 16px;
  line-height: 28px;
  color: #EFEEF3;
  margin: 0;
}
.footer__wrap-left__icon {
  margin-top: 60px;
  display: flex;
}
.footer__wrap-left__icon-img {
  margin-right: 8px;
}
.footer__wrap-rigth {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}
.footer__wrap-rigth-item {
  flex-basis: 200px;
  padding-right: 20px;
}
.footer__wrap-rigth-item-title {
  font-size: 17px;
  text-transform: uppercase;
  color: #EFEEF3;
}
.footer__wrap-rigth-item-link {
  font-size: 15px;
  line-height: 18px;
  color: #EFEEF3;
  text-decoration: none;
}
.footer__wrap-rigth-item-link:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
